<%- include('./header') -%>



<h1>Create</h1>
<div class="row justify-content-center">

    <div class="col-10">
<form method="POST" action="/create" class="my-margin">
    <input type="text" class="form-control my-width mt-1" placeholder="Blog1" name="Blog1">

    <input type="text" class="form-control my-width mt-1" placeholder="Blog2" name="Blog2">

    <input type="text" class="form-control my-width mt-1" placeholder="Blog3" name="Blog3">

    <button class="btn btn-outline-primary mt-1">SUbmit</button>
</form>
</div>
</div>







<%- include('./footer') -%>